:root {
  --bg-color: #161819;
  --bg-deep: #0d1011;
  --surface-color: #252728;
  --primary-color: #dcd3d2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.main-container {
  width: 80%;
 /* height: 100%;
  display: block;*/
  background-color: beige;
}
.navigation-bar{
  background-color: #918483;
  display: flex;
  justify-content:space-between;
}
.sankofa-logo{
  width: 80%;
  height: 100px;
}
.menu-list {
  height: 50px;
  width: 80%;
  background-color: #918483;
  display: inline-flex;
  justify-content: right;
  align-content: space-between;
  padding: 1rem;
}
.menu-list li {
  background-color: aqua;
  color: #bec7cc;
  list-style: none;
  cursor: pointer;
}
.menu-list li:hover {
  background-color: rgb(26, 102, 169);
  color: aliceblue;
}


