:root {
  --bg-color: #161819;
  --bg-deep: #0d1011;
  --surface-color: #252728;
  --primary-color: #ff5f52;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.main-container {
  width: 80%;
  height: 100%;
  display: block;
 
}
.banner{
  height: 20vh;
  background-color: aqua;
  display:flex;

}
.company-logo{
  display: flex;
  height: 100px;
  width: 20%;
  background-color: azure;
  align-items: center;
  justify-content: center;
}
.somethinglogo{
  padding: 20px;
  background-color: #161819;
  color: aliceblue;
}
.menu-list{
  height: 50px;
  width: 80%;
  background-color: #918483;
  display: inline-flex;
  justify-content:right;
  align-content: space-between;
  padding: 1rem;
}
.menu-list li{
  
  padding: 20px;
 /* border: #0d1011 solid 2px;
 margin: 10px;
 */
  background-color: aqua;
  color: #161819;
  list-style: none;
  cursor: pointer;
}
.menu-list li:hover{
  background-color: rgb(26, 102, 169);
color: aliceblue;
  }

.partners-logo{
  height: 5vh;
  background-color: bisque;
}
.current-projects{
height: 25vh;
background-color: #252728;
}
.past-events{
  height: 25vh;
  background-color: rgb(220, 220, 26);
}
footer{
  height: 25vh;
  background: hsl(0, 80%, 48%);
}